<footer class="footer">
    <p>Crafted with dedication by <strong>Yohans1202</strong> | <a href="https://github.com/yohansbekele12" target="_blank">Visit my GitHub</a></p>
    <p>Powered by <a href="https://newsapi.org/" target="_blank">NewsAPI</a></p>
    <p>Copyright &copy; 2022</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-B0R/zwsU+k68vbg42j6cB0zU9/J0Osk686h+d4/j6cR0xKmdf7j6c" crossorigin="anonymous"></script>

</footer>