/* Navbar Styles */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.navbar-menu {
  display: flex;
  margin-right: 15px;
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin: 0 15px;
  position: relative; /* Needed for dropdown positioning */
}

.item a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.item a:hover {
  text-decoration-line: underline;
}

/* Dropdown Styles */
.dropdown-menu {
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%; /* Position below the parent */
  left: 0;
  background-color: #333;
  color: black;
  border-radius: 5px;
  z-index: 1;
  min-width: 90px;
  padding: 0;
  margin: 0;
}

/* Show dropdown on hover */
.item:hover .dropdown-menu {
  display: block; /* Show when hovering over .item */
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: small;
  color: black;
}

.dropdown-item:hover {
  background-color: #1f1d1d;
}

/* Logo */
.logo {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

/* Filters and Search */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter label {
  margin-bottom: 5px;
  font-size: small;
}

.filter select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right {
  width: 100vh;
  display: flex;
  justify-content: flex-end;
}

.right input {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.right .searchbtn {
  padding: 6px 12px;
  border-radius: 5px;
}

/* News List Styles */
.news {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 300px; /* Adjusted to match image width */
  gap: 20px;
}

.news a {
  color: rgb(10, 10, 10);
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 1.5rem;
}

.news a:hover {
  text-decoration-line: underline;
}

.news-image {
  margin-bottom: 100px;
}

.news-image img {
  width: 300px;
  height: auto;
}

/* GPT Response */
.gptresponse {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-size: 1.2rem;
}

.chatresponsbox {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Dividers */
.thin-divider-menu {
  border: none;
  border-top: 1px solid #d4d1d1;
  margin: 10px 0;
  width: 100%;
}
