/* Responsive Design */

/* Mobile Devices */
@media only screen and (max-width: 768px) {
  /* Navbar adjustments */
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    flex-direction: column;
    gap: 5px;
  }

  /* News List adjustments */
  .news {
    grid-template-columns: 1fr;
  }

  .news-image img {
    width: 100%;
  }

  /* Filters and Search adjustments */
  form {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter {
    margin-bottom: 10px;
  }

  .right {
    justify-content: flex-start;
  }

  .right input,
  .right .searchbtn {
    width: 100%;
    margin-top: 10px;
  }

  /* GPT Response adjustments */
  .gptresponse,
  .chatresponsbox {
    margin: 10px;
    font-size: 1rem;
  }
}
